services:
  psql-client:
    image: postgres:17
    container_name: psql-client
    networks:
      - postgres_net
    entrypoint: ["sleep", "infinity"]
    volumes:
      - ./sql:/sql:ro
    depends_on:
      - postgres1
      - postgres2
      - postgres3

  postgres1:
    image: postgres:17
    container_name: postgres1
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shared_db
      DB_HOST: postgres1
    #volumes:
    #  - ./data/postgres1:/var/lib/postgresql/data
    ports:
      - "15432:5432"
    networks:
      - postgres_net
    command: >
      bash -c "apt-get update && apt-get install -y postgresql-17-pglogical &&
               docker-entrypoint.sh postgres -c shared_preload_libraries=pglogical -Ñ wal_level=logical"

  postgres2:
    image: postgres:17
    container_name: postgres2
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shared_db
      DB_HOST: postgres2
    #volumes:
    #  - ./data/postgres2:/var/lib/postgresql/data
    ports:
      - "15433:5432"
    networks:
      - postgres_net
    command: >
      bash -c "apt-get update && apt-get install -y postgresql-17-pglogical &&
               docker-entrypoint.sh postgres -c shared_preload_libraries=pglogical"

  postgres3:
    image: postgres:17
    container_name: postgres3
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shared_db
      DB_HOST: postgres3
    #volumes:
    #  - ./data/postgres3:/var/lib/postgresql/data
    ports:
      - "15434:5432"
    networks:
      - postgres_net
    command: >
      bash -c "apt-get update && apt-get install -y postgresql-17-pglogical &&
               docker-entrypoint.sh postgres -c shared_preload_libraries=pglogical"

networks:
  postgres_net:
    driver: bridge
